config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin:
      branch: main
      repo: https://gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin git:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-asparagus-spider.sh
        container: qc.acc_freaky-black-magpie
  QC.Doc:
    repos:
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-xanthic-ant.sh
        container: qc.doc_sickly-fuchsia-indri
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin git:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-copper-fousek.sh
        container: qc.doc_greasy-malachite-butterfly
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-dandelion-lynx.sh
        container: qc.doc_snoopy-ecru-macaw
  QC.Lic:
    repos:
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin licensee:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-fuchsia-hamster.sh
        container: qc.lic_tacky-brown-spaniel
  QC.Ver:
    repos:
      gitlab.in2p3.fr/ipsl/espri/espri-mod/intertwin get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-sapphire-bloodhound.sh
        container: qc.ver_blurry-copper-warthog
timeout: 5400
